

#message {
    color: #FF4754;
    display: none; /* nous changerons avec JavaScript */
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

h1  { color : #0040FF; font-size : 30px;}  

        
body {
color:cyan; font-family: LEGO BRIX; font-size : 20px;
background-color:#c0c0c0;
text-align : center;
}

#pol{
    width: 50%;
    height: 50%;
}

#txt{
    color: white;
    font-family: 'Acme', sans-serif;
}

